<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.wzm.dao.master.UserDao">
    <resultMap id="UserMap" type="edu.wzm.entity.User">
        <id column="id" property="id" javaType="long"/>
        <result column="name" property="name" javaType="String"/>
        <result column="gender" property="gender" javaType="int"/>
    </resultMap>

    <select id="selectByGender" parameterType="int" resultMap="UserMap">
        SELECT id, name, gender
        FROM user
        WHERE gender = #{gender}
    </select>
</mapper>